//  page specific styling

body{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2, h3, h4, h5, h6, p{
    padding: 0;
    margin: 0;
}

// Home Page ----------------------------------------------

body{
  min-height: 100vh;
  // background: linear-gradient(180deg, #e0eafc, #a4a8ae);
  background-color: #1D1D1D;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
}

  .home-journal {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    .title {
      h1 {
        font-size: 2.5rem;
        font-weight: 600;
        margin: 0;
        color: #E86100;
      }
    }

    .new-entry {
      background: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(5px);
      border-radius: 5px;
      padding: 0.75rem 1.5rem;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease;

      a {
        text-decoration: none;
        color: #eaeaea;
        font-weight: 700;

        &:hover {
          // color: #ffffff;
          color: #E86100;
        }
      }

      &:hover {
        transform: translateY(-2px);
        background: rgba(255, 255, 255, 0.5);
        color: #E86100;
      }
    }
  }



  // --------------------------------


  ul {
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 1100px;

    li {
      background: rgba(255, 255, 255, 0.2);
      border-radius: 10px;
      padding: 1rem;
      margin-bottom: 1rem;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      transition: transform 0.2s ease, background 0.2s ease;

      &:hover {
        transform: translateY(-2px);
        background: rgba(255, 255, 255, 0.4);
      }
    }
  }
}

  // --------------------------------
  


  .entry_body {
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: center;

    .entry {
      background: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(5px);
      border-radius: 8px;
      padding: 2rem;
      width: 100%;
      box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          padding: 1rem;
          margin-bottom: 1rem;
          border-radius: 8px;

          &:hover {
            background: rgba(255, 255, 255, 0.3);
            color: #E86100;
          }

          a {
            font-weight: 600;
            color: #ffffff;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
              color: #E86100;
              transform: translateY(-2px);
            }
          }

          p {
            margin: 0.25rem 0 0;
            display: flex;
          }
        }
      }

      p {
        text-align: center;
        font-style: italic;
      }
    }
  }



// NewEntry -------------------------------------

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  // background: linear-gradient(135deg, #e0eafc, #cfdef3);
  background-color: #1D1D1D;
  // padding: 2rem;
}

.form-card {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 2rem;
  width: 100%;
  max-width: 500px;
  color: #fff;
  font-family: 'Helvetica Neue', sans-serif;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

h1 {
  margin-bottom: 1.5rem;
  text-align: right;
  font-size: 1.8rem;
  // color: #ffffff;
  color: #E86100;
}

form {
  display: flex;
  flex-direction: column;

  label {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: #E86100;
  }

  input,
  textarea {
    padding: 0.8rem 1rem;
    border-radius: 6px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 1rem;
    resize: none;

    &::placeholder {
      color: rgba(255, 255, 255, 0.7);
    }
  }

  button {
    margin-top: 1.5rem;
    padding: 0.8rem;
    border: none;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.3);
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
    color: #E86100;


    &:hover {
      background-color: rgba(255, 255, 255, 0.5);
    }
  }

  .error-msg {
    color: #ffdddd;
    margin-top: 1rem;
    text-align: center;
  }
}

// ---------------------

// Showing an entry

.journal-home-page,
.journal-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  // min-height: 100vh;
  background-color: #1D1D1D;
  padding-top: 50px;
}

.journal-error-card,
.journal-display-card {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 10px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
  padding: 2rem;
  max-width: 700px;
  width: 100%;
  color: #E86100;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.journal-error-card h1,
.journal-display-card h1 {
  // margin: 1rem 0;
  font-size: 1.5rem;
  color: #f6f6f6;
}

.journal-edit-link a p {
  font-size: 1rem;
  color: #f6f6f6;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #E86100;
  transition: all 0.3s ease;
  backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, 0.1);
  text-decoration: none;
}

.journal-edit-link a p:hover {
  background-color: rgba(232, 97, 0, 0.7);
  transform: scale(1.05);
  cursor: pointer;
  font-weight: bold;
}

.entry-paragraph{
  padding-top: 20px;
  padding-bottom: 20px;
}

.journal-edit-link {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: flex-end;
}

.journal-display-card h3 {
  display: flex;
  align-items: left;
  color: #eaeaea;
}

.journal-display-card p {
  display: flex;
  align-items: left;
  color: #eaeaea;
  // margin-top: 1.5rem;
}

.journal-info-card {
  margin-bottom: 2rem;
}

.journal-edit-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.return-home a p {
  width: fit-content;
  font-size: 1rem;
  color: #f6f6f6;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #E86100;
  transition: all 0.3s ease;
  backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, 0.1);
  text-decoration: none;
}

.return-home a:visited {
  color: #f6f6f6;
}

.return-home a p:hover {
  background-color: rgba(232, 97, 0, 0.7);
  transform: scale(1.05);
  cursor: pointer;
  font-weight: bold;
}